@import "null.css";

@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900,&display=swap");
@import url("https://fonts.googleapis.com/css?family=Philosopher:regular,italic,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Marck+Script:regular&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Stalinist+One:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Supermercado+One:regular&display=swap");

body {
	font-family: 'Philosopher';
	font-weight: 900;
	font-size: 20px;
	background: url("../img/poberezhe-morya.jpg") 0 0 / cover no-repeat fixed;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	max-width: 1000px;
	margin: 0 auto;
	background-color: #0b6284;
}
.container {
	max-width: 650px;
	border-radius: 50px 50px 50px 50px;
	box-shadow: 3px 3px 15px #171414;
	margin: 0px auto;
}
.header {
	text-align: center;
}
h1{
	color: red;
	font-size: 65px;
	margin: 30px 0px 40px 0px;
	font-family: 'Philosopher';
	font-weight: 900;
	border: 5px solid #000;
	text-align: center;
	background-color: #141445;
	border-radius: 50px 50px 50px 50px;
	box-shadow: 3px 3px 15px red;
}
.container .header-game:hover {
	visibility: hidden;
}
.main {
	text-align: center;
}
.game div:nth-child(odd) {
	background-color: blueviolet;
}
.game > *:last-child {
	margin-bottom: 30px;
}
.game div:nth-child(even):not(:last-child) {
	background-color: blue;
}
.line-1 {
	width: 50px;
	height: 50px;
}
.line-2 {
	width: 400px;
	height: 50px;
	visibility: hidden;
}
.line-3 {
	width: 50px;
	height: 200px;
	margin-left: 350px;
	visibility: hidden;
}
.line-4 {
	width: 200px;
	height: 50px;
	margin-left: 350px;
	visibility: hidden;
}
.line-5 {
	width: 50px;
	height: 100px;
	margin-left: 500px;
	visibility: hidden;
}
.line-6 {
	width: 200px;
	height: 50px;
	margin-left: 500px;
	visibility: hidden;
}
.line-7 {
	width: 50px;
	height: 300px;
	margin-left: 650px;
	visibility: hidden;
}
.line-8 {
	width: 600px;
	height: 50px;
	margin-left: 100px;
	visibility: hidden;
}
.line-9 {
	width: 50px;
	height: 100px;
	margin-left: 100px;
	visibility: hidden;
}
.line-10 {
	width: 600px;
	height: 600px;
	color: black;
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
	margin-left: 100px;
	background-color: rgb(49, 11, 11);
	visibility: hidden;
	background: url("../img/dovolnaya-obezyana_101304156_orig_.jpg") no-repeat;
}
.line-1:hover + .line-2,
.line-2:hover{
   visibility: visible;
}
.line-2:hover + .line-3,
.line-3:hover {
   visibility: visible;
}
.line-3:hover + .line-4,
.line-4:hover {
   visibility: visible;
}
.line-4:hover + .line-5,
.line-5:hover {
   visibility: visible;
}
.line-5:hover + .line-6,
.line-6:hover {
   visibility: visible;
}
.line-6:hover + .line-7,
.line-7:hover {
   visibility: visible;
}
.line-7:hover + .line-8,
.line-8:hover {
   visibility: visible;
}
.line-8:hover + .line-9,
.line-9:hover {
   visibility: visible;
}
.line-9:hover + .line-10,
.line-10:hover {
   visibility: visible;
}
.top-button {
	max-width: 200px;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	color: rgb(133, 80, 11);
	line-height: 2;
	display: block;
	border-radius: 50px;
	box-shadow: inset 0 0 50px 40px rgb(12, 197, 74);
	margin-bottom: 30px;
}
.blank-button {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	font-size: 40px;
	color: rgb(100, 7, 7);
	line-height: 2;
	display: block;
	border-radius: 50px;
	box-shadow: inset 0 0 50px 40px rgb(12 197 172);
	margin-bottom: 30px;
}